<!--
  Generated template for the NewspaperPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{selectedItem.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <button ion-item *ngFor="let item of articleList" (click)="openArticle(item.url)">
      <div class="item-note" item-end>
        <strong>{{item.title}}</strong> <br><br>
        {{item.publish}} <br><br>
        {{item.summary}}
      </div>
    </button>
  </ion-list>
</ion-content>
