<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Newspaper application</h3>
  <p>{{envVariables.env}} mode</p>

  <p>
    No private data is collected
  </p>

  <button ion-button secondary (click)="refresh()">Refresh news</button>
</ion-content>
